terraform/infrastructure/.terraform
terraform/infrastructure/.terraform.lock.hcl
terraform/infrastructure/terraform.tfstate
terraform/backend/.terraform
terraform/backend/.terraform.lock.hcl
terraform/backend/terraform.tfstate
terraform/ecr/.terraform
terraform/ecr/.terraform.lock.hcl
terraform/ecr/terraform.tfstate
terraform/ecr/ecr.tfvars
